<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.label :title, t(".title") %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, t(".content") %>
    <%= f.text_area :content, placeholder: t(".compose"), rows: 10 %>
  </div>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
