<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: Settings.user.avatar_size),
    post.user %>
  <span class="user_name"><%= link_to post.user.name, post.user %></span>
  <span class="title"><%= post.title %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <%= t ".posted" %> <%= time_ago_in_words post.created_at %><%= t ".ago" %>
    <% if post.user.is_user? current_user %>
      <%= link_to t(".delete"), post, method: :delete,
        data: {confirm: t(".sure")} %>
    <% end %>
  </span>
</li>
