<li id="post-<%= post.id %>">
  <div class="post-box">
    <%= link_to gravatar_for(post.user, size: Settings.user.avatar_size),
      post.user %>
    <h3 class="user-name"><%= link_to post.user.name, post.user %></h3>
    <h4 class="post-title"><strong><%= post.title %></strong></h4>
    <span class="content">
      <%= post.content %>
    </span>
    <span class="timestamp">
      <%= post.created_at %>
      <span style="float: right;">
        <% if post.user.is_user? current_user %>
          <%= link_to t(".delete"), post, method: :delete,
            data: {confirm: t(".sure")} %>
        <% end %>
      </span>
    </span>
    <div class="actionBox">
      <ul class="commentList", id="comments-list-<%= post.id %>">
        <%= render partial: "posts/comment", collection: post.comments, as: "comment" %>
      </ul>
    </div>
    <% if logged_in? %>
      <div id="comment-form-<%= post.id %>">
        <%= render "posts/comment_form", post: post, comment: post.comments.build %>
      </div>
    <% end %>
  </div>
</li>
