<ul class="nav navbar-nav navbar-right">
  <li><%= link_to t(".users"), users_path %></li>
  <li>
    <%= link_to signup_path do %>
      <span class="glyphicon glyphicon-user"></span>
      <%= t ".signup" %>
    <% end %>
  </li>
  <li>
    <%= link_to login_path do %>
      <span class="glyphicon glyphicon-log-in"></span>
      <%= t ".login" %>
    <% end %>
  </li>
</ul>
