<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t(".base_title"), root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t(".home"), root_path, class: "active" %></li>
        <li><%= link_to t(".help"), help_path, class: "active" %></li>
        <li><%= link_to t(".posts"), posts_path, class: "active" %></li>
      </ul>
      <% if logged_in? %>
        <%= render "layouts/header_login" %>
      <% else %>
        <%= render "layouts/header_no_login" %>
      <% end %>
    </div>
  </div>
</header>
